body {
    box-sizing: border-box;
    position: relative;
    background-image: url("../images/kaiworld.jpg");
    font-family: 'Acme', sans-serif;
}

.title {
    float: right;
    width: auto;
    height: 150px;
    margin-top: 20px;
    margin-right: -75px;
    margin-bottom: -75px;
}

h2 {
    color: yellow;
    border: 3px solid black;
    background-color: red;
    font-size: 36px;
    padding: 5px;
    float: left;
}

.button {
    padding: 10px 5px 10px 5px;
    height: 175px;
    width: auto;
}

button {
    margin: 10px;
    padding: 5px;
    float: left;
}


#restart {
    display: none;
}